body{
  background:#C1F4C5;
  color:#2EB086;
}
.app-titulo{
  text-align:center; 
}
.app-completo{
  width:90%;
  margin:0 auto;
  display:grid;
  grid-template-columns:50% 50%; 
  justify-content:space-between;  
}
.app-editor{
  margin:0 20px;
  border-radius: 20px; 
  
}
.app-preview{
  
  margin:0 20px;
  border-radius: 20px; 
}
.barra-div{  
  display:grid;
  grid-template-columns:5fr 60px;  
 justify-content:space-between;
 align-items: baseline;
  border-radius:12px;
  
  
 }
.barra-div h3{  
  margin-left:40%;
}
.barra-div button{
  width:25px;
  height:20px;  
}
#preview{
  background:#C1F4C5;
  border:1px solid #2EB086;  
  position:inherit;
  padding:10px;
  overflow-y: scroll;
}
textarea{
  width:99%;
  border-radius:0 0 12px 12px;
}

.verde{
  background-color: #2EB086;
  color:#C1F4C5;
}
pre{
  padding:5px 5px 5px 20px;
  background:#2EB086;
  color:#C1F4C5;
}
@media screen and (max-width:768px){
  .app-completo{
    width:90%;
    grid-template-columns:100%;
    grid-template-rows:1fr 1fr;
  }
  .app-editor{
    width:95%;    
    margin:20px 5px;
    
  }
  .app-preview{
    width:95%;
    margin:20px 5px;    
  }
  #preview{
    position:absolute;
    width:80%;
    overflow-y: scroll;
  }
}